.user
{
  display:block;
  text-align: center;
    font-family: calibri;
    font-size: 2.5em;
    color:white;
}
.user1 {
  display:inline;
  color:white;

}
.outer {
  display: block;
  color:white;

}
.date {
  display: inline;
  line-height: 250%;
    margin-left: -40%;
    color:white;

}
.name {
  display:inline;
  line-height: 250%;
  margin-left: -46%;
  color:white;

}
body{
  text-align: center;
  margin :0;
  background: url('scuffedstatic_dark_1920x1234.jpg');
  background-size: cover;

}
.content {
  direction: inline-block;
  margin-top: 7%;
    width: 45%;
    text-align: center;

}


.button {
  padding: 9px;
  margin-left: 49%;
  margin-top: -2.5%;
  outline:none;
  border:none;
  color:white;
  background-color: #FF8C00;
  font-family: calibri;
}
.line {
   border: none;
    border-top: 1px solid orange;
    width: 70%;
    margin: auto;
    margin-top: 5%;
}
.inner {

   margin-left: 27.5%;
    text-align: left;

}
.set {
  display: inline-block;
  color:white;
}
.use {
  display: inline-block;
  font-family: calibri;
    font-size: 1.2em;
    font-weight: 500;
    color:#FF8C00;
}
